@import './variables.css';

div#container {
  overflow: auto;
  flex: 1;
  background-color: #171717;

  @import './components/collection.css';
  @import './components/covers.css';
  @import './components/filter.css';
  @import './components/settings.css';
  @import './components/retro.css';
}

div#middle {
  display: flex;
  flex: 1;
  height: 100%;
}

div#left-column {
  display: flex;
  flex-direction: column;
}
