@import './variables.css';
@import './mixins.css';

div#top {
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 1;
  height: $top-row-height;
  background-color: black;

  div.top-container {
    width: 100%;
    display: flex;
  }

  .menu-button {
    margin-top: 10px;
    margin-left: 25px;

    .icon {
      font-size: 30px;
      color: #999;
      cursor: pointer;

      &:hover {
        color: white;
      }

      &:active {
        background-color: #333;
        border-radius: 50%;
      }
    }
  }

  .title {
    display: block;
    min-width: 200px;
    margin-top: 13px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
  }

  .search {
    display: flex;
    align-items:center;
    justify-content: center;
    flex: 1;

    .icon {
      top: 0;
      color: white;
      margin-right: -46px;
    }

    input {
      outline: none;
      background-color: $search-box-background;
      border: 0;
      color: #eee;
      font-size: 15px;
      font-weight: 300;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      padding: 8px 10px 10px 68px;
      margin: 7px 200px 5px 5px;
      width: 100%;

      @include fade-in(background-color);

      &:active, &:focus, &:hover {
        background-color: $search-box-background-focus;
      }
    }
  }
}
