@import '../variables.css';
@import '../mixins.css';

div.collection {
  background-color: #171717;
  margin: 0 auto;

  div.no-results {
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-align: center;

    .icon {
      font-size: 30px;
      margin-right: 10px;
    }
  }

  div.group {
    max-width: 1200px;
    width: 85%;
    display: block;
    margin: 2px auto;
    padding: 10px;
    color: #ccc;
    background-color: $lighter-background;;
    cursor: pointer;

    &:hover {
      background-color: $light-background;
      color: white;

      div.header {
        span.group-album-artist {
          color: #ccc;
        }
      }
    }

    span {
      font-size: 11px;
    }

    span.glyphicon {
      font-weight: bold;
    }

    &>div.collection {
      background-color: inherit;

      div.group {
        margin-top: 0;
        margin-bottom: 0;
        max-width: inherit;
        width: inherit;

        &.expanded {
          border: 0;
          max-width: inherit;
          box-shadow: inherit;

          div.header {
            span.name {
              font-size: 16px;
            }
          }
        }
      }
    }

    &.expanded {
      @include fade-in(margin);
      @include fade-in(width);
      background-color: #222;
      border: 1px solid #333;
      width: calc(85% + 20px);
      max-width: 1220px;
      margin-top: 15px;
      margin-bottom: 15px;
      box-shadow: 2px 2px 5px black;

      div.header {
        span.name {
          font-weight: 300;
          font-size: 20px;
          color: white;
        }

        span.group-album-artist {
          display: none;
        }
      }
    }

    div.header {
      span.name {
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
      }

      span.group-album-artist {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #666;
      }

      span.icon {
        &.material-icons {
          font-size: 24px;
          line-height: 14px;
        }

        padding-left: 10px;
        color: #999;
        font-size: 14px;
        font-weight: 100;

        &:hover {
          color: white;
        }

        &.glyphicon-time {
          color: #666;
        }

        &.enabled {
          color: #ccc;

          &:hover {
            color: white;
          }
        }

        &.duration {
          font-size: 16px;
          vertical-align: 3px;
          color: #999;

          &:hover {
            color: #999;
          }
        }
      }

      span.controls {
        float: right;
      }

      span.time {
        margin-left: 5px;
        font-weight: normal;
        color: #888;
        font-size: 13px;
        vertical-align: 6px;
      }

      span.alac {
        color: #888;
        font-weight: bold;
        vertical-align: 6px;
      }

      div.attributes {
        color: #888;
        font-size: 13px;
        font-weight: 300;
        margin-top: 4px;

        a:hover {
          color: #ccc;
          text-decoration: none;
        }

        span.bull {
          margin: 0 8px;
          color: #666;
        }
      }

      img {
        display: none;

        &.visible {
          float: left;
          display: block;
          max-height: 150px;
          margin: -10px 15px 10px -10px;
        }
      }
    }

    div.tracks {
      ol {
        margin: 5px 0;
        padding: 0;
        color: #777;
        display: block;
        list-style: none;
        counter-reset: li;

        &.upper-roman li::before {
          content: counter(li, upper-roman) ".";
        }

        li {
          padding: 6px 0;
          line-height: 20px;
          font-size: 13px;
          cursor: pointer;

          &::before {
            content: counter(li) ".";
            counter-increment: li;
            font-size: 12px;
            padding: 0 10px 0 0;
            text-align: right;
            width: 25px;
            display: inline-block;
            color: #777;
          }

          span.name {
            font-size: 12px;
            color: #ccc;
            font-weight: normal;
          }

          span.duration {
            margin-left: 10px;
            font-weight: normal;
            color: #666;
          }

          span.controls {
            display: none;

            span.icon {
              padding-left: 10px;
              color: #666;
              font-size: 20px;
              margin-top: -10px;
              vertical-align: -webkit-baseline-middle;

              &:hover {
                color: white;
              }
            }
          }

          span.expanded {
            display: block;

            margin-left: 35px;

            div.attributes {
              color: #888;
              font-size: 11px;
              font-weight: 300;
              margin-top: 4px;

              a:hover {
                color: #ccc;
                text-decoration: none;
              }

              span.bull {
                margin: 0 8px;
                color: #666;
              }
            }
          }

          &.current {
            span.name, span.duration {
              color: $light-blue;
            }

            &::before{
              color: $light-blue;
            }

            &.playing {
              &::before {
                font-family: 'Material Icons';
                content: '\e050';
                font-size: 20px;
                line-height: 20px;
                vertical-align: -30%;
              }
            }
          }

          &:hover {
            background-color: #292929;

            &.current {
              span.name, span.duration {
                color: $light-blue;
              }

              &::before{
                color: $light-blue;
              }
            }

            span.name {
              color: white;
            }

            span.duration {
              color: #999;
            }

            span.controls {
              display: inline;
            }

            &::before {
              color: #ddd;
              font-family: 'Material Icons';
              content: '\e037';
              font-size: 20px;
              line-height: 20px;
              vertical-align: -30%;
            }
          }
        }
      }
    }
  }
}
