@import '../variables.css';
@import '../mixins.css';

div.covers {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex-flow: row wrap;

  div.cover {
    flex: 0 1 auto;
    width: 200px;
    height: 200px;
    margin: 5px;
    border-color: #666;
    background-color: #555;
    display: flex;
    position: relative;

    .controls {
      display: none;

      background-color: rgba(17, 17, 17, 0.9);
      border-radius: 5px;
      left: 50%;
      padding: 5px;
      position: absolute;
      top: 80%;
      transform: translate(-50%, -50%);

      span.icon {
        padding-left: 5px;
        padding-right: 5px;
        color: #999;

        &:hover {
          color: white;
        }
      }
    }

    &:hover {
      background-color: #777;

      .controls {
        display: block;
      }

      img {
        opacity: 0.5;
      }
    };

    span.name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      align-self: flex-end;
      margin: 4px;
      font-size: 12px;
      font-weight: 400;
    }

    img {
      width: 200px;
      height: 200px;
      display: none;

      &.visible {
        display: block;
      }
    }
  }
}
