@import '../mixins.css';
@import '../variables.css';

div.playlist {
  flex: 1;
  background-color: $darker-background;

  span.icon {
    margin-left: 5px;
    color: #333;
    cursor: pointer;

    &:hover {
      color: #ccc;
    }
  }

  div.no-items {
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-align: center;

    .icon {
      float: inherit;
      font-size: 28px;
      margin-right: 10px;
      color: #fff;
      margin-left: 0;
      cursor: inherit;

      &:hover {
        color: inherit;
      }
    }
  }

  div.group {
    font-size: 12px;

    div.info-container {
      display: flex;
      border-top: 1px solid #333;

      div.info {
        display: flex;
        flex: 1;

        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 12px;

        div.details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
        }

        div.controls {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          margin-right: 9px;
        }

        .name {
          color: white;
          font-weight: 300;
          font-size: 14px;
        }

        .attributes.duration {
          span.icon {
            font-size: 16px;
            float: none;
            margin-right: 5px;
            margin-left: 0px;
            cursor: auto;

            &:hover {
              color: #666;
            }
          }

          span.duration {
            vertical-align: 3px;
          }
        }
      }

      img {
        display: none;

        &.visible {
          max-height: 80px;
          float: left;
          display: block;
          padding: 10px 0 10px 10px;
        }
      }

      .attributes {
        margin-top: 4px;
        color: #888;
        line-height: 18px;

        a:hover {
          color: #ccc;
          text-decoration: none;
        }

        span {
          font-weight: 300;

          &.bull {
            margin-left: 4px;
            margin-right: 4px;
            color: #666;
          }
        }
      }
    }

    span.info {
      float: right;
    }

    span.icon {
      color: #666;

      &:hover {
        color: #ddd;
      }
    }
  }

  div.tracks {
    text-align: left;
    width: 100%;

    ol {
      margin: 0;
      padding-left: 0px;
      list-style: none;
      counter-reset: li;
      border-top: 1px solid #232323;

      &.upper-roman li::before {
        content: counter(li, upper-roman) ".";
      }

      li {
        font-size: 11px;
        line-height: 20px;
        padding: 6px;
        border-bottom: 1px solid #242424;
        color: #bbb;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 337px;
        white-space: nowrap;

        &:last-of-type {
          border-bottom: 0;
        }

        &::before {
          content: counter(li) ".";
          font-size: 11px;
          padding: 0 10px 0 0;
          text-align: right;
          width: 25px;
          display: inline-block;
          color: #666;
        }

        &.current {
          color: $light-blue;

          span.duration {
            color: $light-blue;
          }

          &:hover {
            color: $light-blue;

            &::before {
              color: $light-blue;
            }

            .icon {
              color: $light-blue;
            }
          }

          &::before {
            color: $light-blue;
          }
        }

        &.is-playing, &.is-playing:hover {
          &::before {
            font-family: 'Material Icons';
            content: '\e050';
            font-size: 20px;
            line-height: 18px;
            vertical-align: -35%;
          }
        }

        span.duration {
          margin-left: 2px;
          color: #888;
          font-size: 10px;
        }

        span.icon {
          font-size: 16px;
          margin-top: 2px;
          float: right;
        }

        &:hover {
          background-color: #111;
          color: #eee;

          &::before {
            color: #ddd;
            font-family: 'Material Icons';
            content: '\e037';
            font-size: 20px;
            line-height: 18px;
            vertical-align: -35%;
          }

          span.icon {
            color: #999;
          }

          span.icon {
            color: #ddd;
          }

          span.duration {
            color: #aaa;
          }
        }

        span.icon:hover {
          color: #eee;
        }
      }
    }
  }
}
