@import './variables.scss';
@import './mixins.scss';

div#bottom {
  bottom: 0;
  height: $bottom-row-height;
  left: 0;
  right: 0;
  color: white;
  background-color: $transparent-bar-background;
  box-shadow: 5px -4px 5px rgba(black, 0.2);

  .hover-show {
    opacity: 0;
    @include fade-in(opacity);
  }

  &:hover {
    .hover-show {
      opacity: 1;
    }
  }

  div.bottom-container {
    height: 100%;

    // This is required so that the play progress doesn't overflow when it's at
    // the end.
    width: 100%;
    position: fixed;
  }

  .right-column-toggle {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span.glyphicon {
      color: #bbb;
      padding: 10px 0;
      margin-left: 12px;
      margin-top: -10px;
      font-size: 22px;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }

  div.now-playing {
    position: relative;
    width: 100%;
    display: flex;

    div.controls {
      padding-right: 10px;
      display: flex;
      align-items: center;
      height: $bottom-row-height - $progressbar-height;

      span.glyphicon {
        margin: 8px;
        @include user-select(none);
        @include fade-in(color);

        &.glyphicon-step-forward, &.glyphicon-step-backward {
          font-size: 16px;
          line-height: 34px;
          color: #666;
          top: -3px;

          &.enabled {
            color: white;

            &:hover {
              color: lighten($light-blue, 10);
              cursor: pointer;
            }
          }
        }

        &.glyphicon-play, &.glyphicon-pause {
          font-size: 28px;
          line-height: 39px;
          height: 39px;
          width: 39px;
          margin-top: 0px;
          padding: 10px 2px 10px 18px;
          border-radius: 50%;
          @include fade-in(border-color, 50ms);
          background-color: rgba(128, 128, 128, 0.2);
          color: #eee;

          &:hover {
            color: lighten($light-blue, 10);
            cursor: pointer;
          }
        }
      }
    }

    div.right {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }

    div.now-playing-track {
      display: flex;
      vertical-align: top;
      margin-right: 5px;
      flex: 1;

      img.artwork {
        float: left;
        display: none;
        margin-right: 5px;
        cursor: pointer;

        &.visible {
          display: inline;
          flex-shrink: 0;
          max-height: $bottom-row-height - $progressbar-height;
        }
      }

      div.track-info {
        display: flex;
        flex: 1 auto;
        align-items: center;
        margin-left: 5px;

        div.container {
          margin-top: -7px;
        }
      }

      div.title {
        font-size: 14px;
        font-weight: 400;
        padding: 0 4px;

        span.bitrate {
          padding: 2px 4px;
          margin: -2px 5px;
          font-size: 10pt;
          cursor: pointer;

          &.expanded {
            color: #888;
            background-color: #444;
            border-radius: 2px;

            span.glphicon {
              color: white;
            }

            span.value {
              margin-left: 2px;
            }

            &:hover {
              color: #ccc;
              background-color: #666;

              span.glyphicon {
                color: white;
              }
            };
          }

          span.glyphicon {
            color: #999;

            &:hover {
              color: white;
            };
          }
        }

        a.goto {
          color: #999;

          &:hover {
            color: #eee;
          }
        }
      }

      div.attributes {
        font-size: 13px;
        color: #999;
        line-height: 16px;
        padding: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;

        &:hover {
          overflow-x: visible;
        }

        a:hover {
          color: #ccc;
          text-decoration: none;
        }

        span {
          font-weight: 200;

          &.bull {
            margin: 0 8px;
            color: #666;
          }
        }
      }

      div.times {
        font-size: 11px;
        color: #999;

        span.current-time {
          margin-left: 5px;
          float: left;
        }

        span.track-length {
          margin-right: 5px;

          &::before {
            content: '\00a0/\00a0'
          }
        }

        span.remaining {
          margin-right: 5px;

          &::before {
            content: '('
          }
          &::after {
            content: ')'
          }
        }
      }


      &.error {
        div.title::before {
          content: "Track Error";
          background-color: #f69;
          color: #333;
          padding: 1px 4px;
          margin: 2px 5px 2px 0;
          font-size: 10pt;
          border-radius: 2px;
        }

        div.times {
          color: #936;
        }
      }
    }
  }

  div.play-progress {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: $progressbar-height;

    & > div.bar {
      height: $progressbar-height;
      display: flex;
      cursor: pointer;
      position: absolute;
      width: 100%;
      padding-bottom: 7px;
      z-index: 10;

      .current {
        height: $progressbar-height;
        float: left;
        background-color: $light-blue;
      }

      .buffered {
        opacity: 0;
        display: initial;

        height: $progressbar-height;
        float: left;
        background-color: rgba(255,255,255, 0.1);
        @include fade-in(opacity);
      }

      .marker {
        background-color: #fff;
        border-radius: 50%;
        box-shadow:-1px 0px 2px #444;
        display: initial;
        opacity: 0;
        float: left;
        height: 10px;
        margin-left: -5px;
        margin-right: -5px;
        margin-top:-3px;
        width: 10px;
        z-index: 10;
        @include fade-in(opacity);
      }

      &:hover {
        .marker {
          opacity: 1;
        }

        .buffered {
          opacity: 1;
        }
      }
    }
  }
}
