@import './variables.scss';
@import './mixins.scss';

div.control-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin-top: -$top-row-height;
  z-index: 2;

  bottom: $bottom-row-height;
  width: $left-column-width;
  background-color: $lighter-background;
  color: #999;

  margin-left: 0px;
  transition: margin-left .5s ease-in;
  &.hidden {
    margin-left: -$left-column-width;
  }

  span.glyphicon {
    font-size: 20px;
    display: block;
  }

  span.item {
    color: #999;
    @include fade-in(color);


    &.toolbar {
      &.selected {
        color: lighten($light-blue, 15);

        &:hover {
          color: lighten($light-blue, 25);
        };
      }

      &:hover {
        color: white;
      };
    }

    &.status {
      &.closed {
        background-color: lighten(#FF00BF, 10);
        color: white;

        &:hover {
          background-color: white;
          color: lighten(#FF00BF, 10);
        };
      }
      color: lighten(#00FFBF, 10);
    }

    &.key {
      &.set {
        color: white;
      }
    }
  }

  .menu-button-item {
    margin-bottom: 20px;
  }

  .links {
    margin-top: 40px;
  }

  .menu-item {
    display: flex;
    padding: 15px;
    background-color: $transparent;
    @include fade-in(background-color, 0.05s);
    text-decoration: none;
    cursor: pointer;

    .title {
      margin-left: 15px;
      color: white;
    }

    &:hover {
      background-color: rgba(white, 0.1);
    }

    &:hover, &:active, &:visited {
      text-decoration: none;
    }
  }

  .middle {
    flex: 1;
  }

  .bottom {
    .bottom-item {
      display: flex;
    }
    .item {
      span.glyphicon {
        padding: 10px;
        font-size: 20px;
        display: block;
      }
    }
  }
}
