@import './variables.scss';
@import './mixins.scss';

div.control-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: $left-column-width;
  background-color: $transparent-bar-light-background;
  color: #999;
  margin-left: 0px;
  transition: margin-left .25s ease-in-out;

  &.hidden {
    margin-left: calc(-$left-column-width - 2px);
  }

  span.icon {
    width: 20px;
    display: block;
  }

  span.item {
    &.status {
      &.closed {
        background-color: color(#FF00BF l(+10%));
        color: white;

        &:hover {
          background-color: white;
          color: color(#FF00BF l(+10%));
        };
      }
      color: color(#00FFBF l(+10%));
    }

    &.key {
      &.set {
        color: white;
      }
    }
  }

  .menu-button-item {
    margin-bottom: 20px;
  }

  .links {
    margin-top: 40px;
  }

  ul.menu {
    padding: 0;
    margin: 10px 0 0;
  }

  .menu-item {
    display: flex;
    margin: 0 10px;
    padding: 15px;
    background-color: $transparent;
    text-decoration: none;
    cursor: pointer;

    &.selected {
      background-color: color(white a(0.05));

      span.icon {
        color: color($light-blue l(+15%));
      }

      .title {
        color: white;
      }

      &:hover {
        span.icon {
          color: color($light-blue l(+15%));
        }
      }
    }

    span.icon {
      color: #999;
      margin-top:-3px;
    }

    .title {
      font-size: 14px;
      font-weight: 900;
      margin-left: 15px;
      color: #ccc;
    }

    &:hover {
      background-color: color(white a(0.1));

      .title {
        color: white;
      }

      span.icon {
        color: white;
      }
    }

    &:hover, &:active, &:visited {
      text-decoration: none;
    }
  }

  .middle {
    flex: 1;
  }

  .bottom {
    .bottom-item {
      display: flex;
    }
    .item {
      span.icon {
        padding: 10px;
        font-size: 20px;
        display: block;
      }
    }
  }
}
