@import './variables.scss';

div#container {
  overflow: auto;
  position: absolute;
  top: $top-row-height;
  bottom: $bottom-row-height;
  left: $left-column-width;
  right: $right-column-width;
  border-right: 1px solid #333;

  @import './components/collection.scss';
  @import './components/covers.scss';
  @import './components/filter.scss';
  @import './components/search.scss';
  @import './components/settings.scss';
  @import './components/retro.scss';
}

div#container.retro {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
