@import './variables.scss';

div#container {
  overflow: auto;
  flex: 1;

  @import './components/collection.scss';
  @import './components/covers.scss';
  @import './components/filter.scss';
  @import './components/settings.scss';
  @import './components/retro.scss';
}

div#middle {
  display: flex;
  flex: 1;
  height: 100%;
}

div#left-column {
  display: flex;
  flex-direction: column;
}
