@import './variables.scss';
@import './mixins.scss';

div#right-column {
  color: white;
  position: fixed;
  right: 0;
  top:$top-row-height;
  bottom: $bottom-row-height;
  width: $right-column-width;
  text-align: center;

  div.now-playing {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    position: relative;
    height: 100%;

  }
}
