@import './variables.scss';
@import './mixins.scss';

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', Arial, sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: $light-background;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

a {
  cursor: pointer;
}

@import './top.scss';
@import './bottom.scss';
@import './control-bar.scss';
@import './right-column.scss';
@import './main-container.scss';

@import './components/index.scss';

// FIXME: node-sass doesn't seem to like this?
// @include webkit-scrollbar(div#container, #333);
