@import './variables.scss';
@import './mixins.scss';

div#top {
  border-top: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 1;

  .menu-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;

    .glyphicon {
      font-size: 22px;
      color: #999;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }

  .search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    span.glyphicon-search {
      color: white;
      margin-right: -36px;
      font-size: 18px;
      vertical-align: -3px;
    }

    input {
      outline: none;
      background-color: $search-box-background;
      border: 0px;
      border-radius: 5px;
      color: #eee;
      font-size: 13px;
      font-weight: 200;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      padding: 12px 10px 12px 48px;
      margin: 5px;
      width: 600px;

      @include fade-in(background-color);
      @include fade-in(border-color);

      &:active, &:focus {
        background-color: $search-box-background-focus;
      }
    }
  }
}
