$light-blue: #00D9FF;
$lighter-blue: #00E9FF;
$left-column-width: 40px;
$right-column-width: 350px;
$filter-column-width: 250px;
$bottom-row-height: 90px;
$top-row-height: 50px;
$progressbar-height: 4px;

$lighter-background: #272727;
$light-background: #222;
$darker-background: #1C1C1C;

$search-box-background: rgba(#fff, 0.1);
$search-box-background-focus: rgba(#fff, 0.2);

$transparent-bar-background: rgba($light-background, 0.4);
$transparent-bar-light-background: rgba($light-background, 0.3);
$transparent-bar-dark-background: rgba($darker-background, 0.8);
$transparent-bar-dark-background-highlight: rgba(#000, 0.3);
