$light-blue: #00D9FF;
$lighter-blue: #00E9FF;
$left-column-width: 216px;
$right-column-width: 350px;
$filter-column-width: 250px;
$bottom-row-height: 90px;
$top-row-height: 50px;
$progressbar-height: 4px;

$lighter-background: #272727;
$light-background: #1E1E1E;
$darker-background: #1C1C1C;

$search-box-background: color(white a(0.1));
$search-box-background-focus: color(white a(0.2));

$transparent: rgba(black, 0);
$transparent-bar-background: color($light-background a(0.4));
$transparent-bar-light-background: color($light-background a(0.3));
$transparent-bar-dark-background: color($darker-background a(0.8));
$transparent-bar-dark-background-highlight: color(black a(0.3));
