@mixin fade-in($property, $duration:100ms) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: ease-in;
}

@mixin disable-transitions {
  transition-property: none;
  transition-duration: 0;
  transition-timing-function: ease;
}

@mixin user-select($select) {
  user-select: $select;
}
