@import './roboto.css';

@import './variables.css';
@import './mixins.css';

@import './top.css';
@import './bottom.css';
@import './control-bar.css';
@import './right-column.css';
@import './main-container.css';

@import './components/index.css';

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, 'BlinkMacSystemFont', 'RobotoDraft', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Open Sans', Arial, sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: $light-background;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

a {
  cursor: pointer;
}
