{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true,
    },
    "rules": {
        "quotes": [2, "double"],
        "comma-dangle": [2, "always-multiline"],
        "no-underscore-dangle": [0], // Rewire uses this style
        "indent": [2, 2, {"SwitchCase": 1}], // 2 space indentation, switch case indented
        "no-unused-expressions": 0,
    },
    "ecmaFeatures": {
        "classes": true,
        "modules": true,
        "spread": true,
        "destructuring": true,
        "jsx": true,
    },
    "globals": {
        "sinon": false,
        "expect": false,
    },
    "plugins": [
        "react",
    ]
}
