@import '../variables.scss';
@import '../mixins.scss';

div.collection {
  background-color: #171717;

  div.group {
    display: block;
    margin: 2px 0;;
    padding: 10px;
    color: #ccc;
    background-color: $lighter-background;;
    cursor: pointer;

    &:hover {
      background-color: $light-background;
      color: white;

      div.header {
        span.group-album-artist {
          color: #ccc;
        }
      }
    };

    &.untitled {
      padding: 4px 0;
    }

    span {
      font-size: 11px;
    }

    span.glyphicon {
      font-weight: bold;
    }

    &>div.collection {
      div.group.expanded {
        border: 0;
        div.header {
          span.name {
            font-size: 16px;
          }
        }
      }
    }

    &.expanded {
      @include fade-in(background-color);
      background-color: #222;
      border: 1px solid #333;

      div.header {
        span.name {
          font-weight: 300;
          font-size: 18px;
          color: white;
        }

        span.group-album-artist {
          display: none;
        }
      }
    }

    div.header {
      span.name {
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
      }

      span.group-album-artist {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #777;
      }

      span.glyphicon {
        padding-left: 10px;
        color: #999;
        font-size: 14px;
        font-weight: 100;

        &:hover {
          color: white;
        }

        &.glyphicon-time {
          color: #666;
        }
      }

      span.controls {
        float: right;
      }

      span.duration {
        margin-left: 5px;
        font-weight: normal;
        color: #666;
        font-size: 12px;
      }

      div.attributes {
        color: #888;
        font-size: 13px;
        font-weight: 200;
        margin-top: 4px;

        a:hover {
          color: #ccc;
          text-decoration: none;
        }

        span.bull {
          margin: 0 8px;
          color: #444;
        }
      }

      img {
        display: none;

        &.visible {
          float: left;
          display: block;
          max-height: 150px;
          margin: -10px 10px 10px -10px;
        }
      }
    }

    div.tracks {
      ol {
        margin: 5px 0;
        padding: 0;
        color: #777;
        display: block;
        list-style: none;
        counter-reset: li;

        &.upper-roman li::before {
          content: counter(li, upper-roman) ".";
        }

        li {
          padding: 8px 0;
          font-size: 13px;
          cursor: pointer;

          &::before {
            content: counter(li) ".";
            counter-increment: li;
            font-size: 12px;
            padding: 0 10px 0 0;
            text-align: right;
            width: 25px;
            display: inline-block;
            color: #777;
          }

          span.name {
            font-size: 12px;
            color: #ccc;
            font-weight: normal;
          }

          span.duration {
            margin-left: 10px;
            font-weight: normal;
            color: #666;
          }

          span.controls {
            display: none;

            span.glyphicon {
              padding-left: 10px;
              color: #666;

              &:hover {
                color: white;
              }
            }
          }

          &.current {
            span.name, span.duration {
              color: $light-blue;
            }

            &::before{
              color: $light-blue;
            }

            &.playing {
              &::before {
                font-family: 'Glyphicons Halflings';
                content: '\e038';
                font-size: 16px;
                line-height: 10px;
                vertical-align: -34%;
              }
            }
          }

          &:hover {
            background-color: #333;

            &.current {
              span.name, span.duration {
                color: $light-blue;
              }

              &::before{
                color: $light-blue;
              }
            }

            span.name {
              color: white;
            }

            span.duration {
              color: #999;
            }

            span.controls {
              display: inline;
            }

            &::before {
              color: #ddd;
              font-family: 'Glyphicons Halflings';
              content: '\e072';
              font-size: 12px;
              line-height: 10px;
              vertical-align: -20%;
            }
          }
        }
      }
    }
  }
}
