@import '../variables.scss';
@import '../mixins.scss';

div.filter {
  div.sidebar {
    width: $filter-column-width;
    position: fixed;
    top: $top-row-height;
    bottom: $bottom-row-height;
    overflow-y: auto;

    background-color: #1d1d1d;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #333;

        color: #bbb;
        font-size: 14px;
        font-weight: 500;

        &.selected {
          color: lighten($light-blue, 15);
          background-color: $light-background;
        }

        &:hover {
          background-color: #333;
          color: #fff;
        };
      }
    }
  }

  & > div.collection {
    margin-left: $filter-column-width;
  }

  & > div.tracks {
    margin-left: $filter-column-width;

    ol {
      margin: 4px 0;
      padding: 0;
      color: #777;
      display: block;
      list-style: none;
      counter-reset: li;

      &.upper-roman li::before {
        content: counter(li, upper-roman) ".";
      }

      li {
        padding: 5px 0;
        font-size: 12px;
        cursor: pointer;

        &::before {
          content: counter(li) ".";
          counter-increment: li;
          font-size: 12px;
          padding: 0 10px 0 0;
          text-align: right;
          width: 25px;
          display: inline-block;
          color: #777;
        }

        span.name {
          font-size: 12px;
          color: #ccc;
          font-weight: normal;
        }

        span.duration {
          margin-left: 10px;
          font-weight: normal;
          color: #666;
        }

        span.controls {
          display: none;

          span.glyphicon {
            padding-left: 10px;
            color: #666;

            &:hover {
              color: white;
            }
          }
        }

        &.current {
          background-color: $light-blue;
          span.name, span.duration {
            color: #333;
          }

          &::before{
            color: #333;
          }

          &.playing {
            &::before {
              font-family: 'Glyphicons Halflings';
              content: '\e038';
              font-size: 14px;
              line-height: 10px;
              vertical-align: -30%;
            }
          }
        }

        &:hover {
          &.current {
            background-color: #555;
          }

          span.name {
            color: white;
          }

          span.duration {
            color: #999;
          }

          span.controls {
            display: inline;
          }

          &::before {
            color: #aaa;
          }
        }
      }
    }
  }
}
