@import '../mixins.scss';
@import '../variables.scss';

div.playlist {
  overflow: auto;
  text-align: left;
  -webkit-flex: 1;
  flex: 1;
  background-color: $darker-background;

  div.group {
    font-size: 12px;

    div.group-info-container {
      display: flex;
      border: 1px solid #333;

      div.group-info {
        display: flex;
        flex: 1;

        margin-top: 5px;
        margin-left: 15px;
        margin-bottom: 5px;

        .group-details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
        }

        .controls {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-right: 9px;
        }

        .name {
          color: white;
          font-weight: 600;
        }
      }

      img {
        display: none;

        &.visible {
          max-height: 60px;
          float: left;
          display: block;
        }
      }

      .attributes {
        color: #888;
        span {
          font-weight: 200;

          &.bull {
            margin-left: 2px;
            margin-right: 2px;
            color: #666;
          }
        }
      }
    }

    span.info {
      float: right;
    }

    span.glyphicon-remove {
      color: #666;
      &:hover {
        color: #ddd;
      }
    }
  }

  span.glyphicon-remove {
    float: right;
    margin-left: 5px;
    color: #333;

    &:hover {
      color: #ccc;
      cursor: pointer;
    }
  }

  div.tracks {
    text-align: left;
    width: 100%;

    ol {
      margin: 0;
      padding-left: 0px;
      list-style: none;
      counter-reset: li;

      &.upper-roman li::before {
        content: counter(li, upper-roman) ".";
      }

      li {
        font-size: 11px;
        line-height: 15px;
        padding: 8px;
        border-bottom: 1px solid #232323;
        color: #bbb;

        &::before {
          content: counter(li) ".";
          font-size: 11px;
          padding: 0 10px 0 0;
          text-align: right;
          width: 25px;
          display: inline-block;
          color: #888;
        }

        &.current {
          color: $light-blue;

          span.duration {
            color: $light-blue;
          }

          &:hover {
            color: $light-blue;

            &::before {
              color: $light-blue;
            }

            span.glyphicon-remove, span.duration {
              color: $light-blue;
            }
          }

          &::before {
            color: $light-blue;
          }
        }

        &.is-playing, &.is-playing:hover {
          &::before {
            font-family: 'Glyphicons Halflings';
            content: '\e038';
            font-size: 16px;
            line-height: 10px;
            vertical-align: -35%;
          }
        }

        span.duration {
          margin-left: 2px;
          color: #999;
        }

        &:hover {
          background-color: #333;
          color: #eee;

          &::before {
            color: #ddd;
            font-family: 'Glyphicons Halflings';
            content: '\e072';
            font-size: 12px;
            line-height: 10px;
            vertical-align: -20%;
          }

          span.glyphicon-remove {
            color: #999;
          }

          span.duration {
            color: #999;
          }

          &::before {
            background-color: #333;
          }
        }

        span.glyphicon-remove:hover {
          color: #eee;
        }
      }
    }
  }
}
