@import '../variables.scss';
@import '../mixins.scss';

div.search-collection {
  div#search {
    position: fixed;
    top: 0px;
    right: $right-column-width;
    left: $left-column-width;
    height: 26px;
    padding: 10px 0 10px 0;
    background: $light-background;
    z-index: 10;

    input {
      outline: none;
      background-color: #333;
      border: 1px solid #444;
      color: #eee;
      font-size: 16px;
      font-weight: 200;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      padding: 5px 10px;
      width: calc(100% - 25px);

      &:active, &:focus {
        border: 1px solid #666;
      }
    }
  }

  > div.collection {
    margin-top: 46px;
  }
}
