@import '../variables.scss';
@import '../mixins.scss';

div.settings {
  color: #ccc;
  padding: 0 20px;

  h3 {
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #fff;
  }

  span {
    color: #aaa;
    font-size: 11pt;
    margin-bottom: 5px;
  }

  form {
    margin: 10px 0 20px;
  }

  input {
    outline: none;
    background-color: #333;
    border: 2px solid #444;
    color: #eee;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 5px;

    &:active, &:focus {
      border-color: #666;
      color: #fff;
    }
  }

  button {
    outline: none;
    background-color: $light-background;
    border: 2px solid #333;
    color: #eee;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 5px 20px;
    margin: 0 10px;

    &.reset {
      border-color: lighten(#936, 15);
      background-color: #936;

      &:hover {
        border-color: lighten(#936, 20);
        background-color: lighten(#936, 5);
      }
    }

    &.set {
      border-color: lighten(#396, 15);
      background-color: #396;
    }
  }
}
