@import '../variables.scss';
@import '../mixins.scss';

.volume {
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span.glyphicon {
    color: #bbb;
    padding: 10px 0;
    margin-left: 12px;
    margin-top: -10px;
    font-size: 22px;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }

  .bar {
    margin-top: -8px;
    width: 100px;
    height: 4px;
    opacity: 0;
    @include fade-in(opacity);
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

    .current {
      border-radius: 5px;
      background-color: $light-blue;
      height: 4px;
    }

    .rest {
      background-color: #444;
      height: 4px;
    }

    .marker {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: -1px 0 2px #444;
      margin-left: -5px;
      margin-right: -5px;
      margin-top: -3px;
      z-index: 11;
    }
  }

  &:hover {
    .bar {
      opacity: 1.0;
    }
  }
}
